$body-bg: #EEE;
$title_color: #C42828;

$link_color: #C42828;
$footer_text_color: #FFFFFF;
$footer_link_color: #FFFFFF;
$footer_text_shadow: #666666;
$navbar_bg_color: #AAA;
$navbar_bg_gradient_from: #6e0f0f;
$navbar_bg_gradient_to: #600707;
$navbar_link_color: #FFFFFF;