$body_bg: #EEE url(/assets/themes/rscf/images/bg.gif) repeat 0 0;
$title_color: #d52b34;
$title_font_family: 'Inconsolata', sans-serif;
$header_bg: #d52b34 url(/assets/images/logo-neg.png) no-repeat center right;
$header_title_color: #FFF;
$header_title_size: 40px;
$link_color: #d52b34;
$link_color_hover: #d52b34;
$footer_text_color: #d52b34;
$footer_link_color: #d52b34;
$navbar_bg_color: #AAA;
$navbar_bg_gradient_from: #6e0f0f;
$navbar_bg_gradient_to: #600707;
$navbar_link_color: #FFFFFF;