<div class="page-header">
  <div class="page-header-title">
    <h1>{{ page.title }} {% if page.tagline %} <small>{{ page.tagline }}</small>{% endif %}</h1>
  </div>
  <div id="logo">
    <a href="/"><img src="/assets/images/logo-neg.png" alt="{{ site.title }}" /></a>
  </div>
</div>


<div class="row">
	{% if page.eventbrite_calendar %}
	<div class="span9">
		{{ content }}
	</div>
	<div style="width:195px; text-align:center;" class="span3">
		<iframe  src="http://www.eventbrite.com/calendar-widget?eid=3204034353" frameborder="0" height="435" 
		width="195" marginheight="0" marginwidth="0" scrolling="no" allowtransparency="true">
		</iframe>
		<div style="font-family:Helvetica, Arial; font-size:10px; padding:5px 0 5px; margin:2px; width:195px; text-align:center;" >
			<a style="color:#ddd; text-decoration:none;" target="_blank" href="http://www.eventbrite.com/r/ecal">Sell Tickets</a> 
			<span style="color:#ddd;">through</span> 
			<a style="color:#ddd; text-decoration:none;" target="_blank" href="http://www.eventbrite.com?ref=ecal">Eventbrite</a>
		</div>
	</div>
	{% else %}
	<div class="span12">
	{{ content }}
	</div>
	{% endif %}
	{% if page.eventbrite_tickets %}
	<div style="text-align:left;" class="span12">
		<h2>Registrazione agli eventi</h2>
		<iframe  src="http://www.eventbrite.com/tickets-external?eid=3204034353&ref=etckt" 
		frameborder="0" height="200" width="100%" vspace="0" hspace="0" marginheight="5" marginwidth="5" 
		scrolling="auto" allowtransparency="true"></iframe>
		<div style="font-family:Helvetica, Arial; font-size:10px; padding:5px 0 5px; margin:2px; width:100%; text-align:left;" ><a style="color:#ddd; text-decoration:none;" target="_blank" href="http://www.eventbrite.com/r/etckt">Online Ticketing</a>
			<span style="color:#ddd;"> for </span>
			<a style="color:#ddd; text-decoration:none;" target="_blank" href="http://http://rubysocialclub-fi.eventbrite.com?ref=etckt">Ruby Social Club Firenze - 6 giugno</a> 
			<span style="color:#ddd;">powered by</span> <a style="color:#ddd; text-decoration:none;" target="_blank" href="http://www.eventbrite.com?ref=etckt">Eventbrite</a>
		</div>
	</div>
	{% endif %}
</div>
